VITE_OPENS_APPLICATION_DEADLINE="TBD"
VITE_QUALIFIERS_DEADLINE="TBD"
VITE_FINALISTS_ANNOUNCED="TBD"
VITE_PITCH_DAY="TBD"

VITE_PRIZE_1ST="TBD"
VITE_PRIZE_2ND="TBD"
VITE_PRIZE_3RD="TBD"

VITE_FINALIST_TEAM_1="Team A"
VITE_FINALIST_TEAM_2="Team B"
VITE_FINALIST_TEAM_3="Team C"
VITE_FINALIST_TEAM_4="Team D"

VITE_OPENS_SUBMISSION_URL=""
VITE_QUALIFIERS_SUBMISSION_URL=""
VITE_FINALIST_PRESENTATION_URL=""
VITE_VOTING_PROCEDURE_URL=""
